body {
    /* font-size: 10px; */
}

a {
    display: block;
}

.presentation {
    display: flex;
}

ol li > img {
    width: 120px;
    height: 120px;
}

.back-home {
    margin-top: 15px;
}